
.LogButton{
	
	-fx-background-color:#7f00ff;
	
	-fx-text-fill: #ffffff;
}



.mauveLabel{
	
	-fx-text-fill: #7f00ff;
}


.table-view{
	
	-fx-background-radius: 10;
	-fx-background-color :white;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.4, 0.0, 0.0);
	
	
}


/*table view*/
.table-view .column-header-background{
	-fx-background-radius: 45;
	-fx-background-color :  rgb(214,214,214)  ;
	-fx-background-insets: 0 0 10 0;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.3, 0.0, 0.0);
	-fx-padding: 0 0 10 0;
	
}



.table-view .column-header, .table-view .filler{
	
	-fx-size :30;
	-fx-background-color: #7f00ff ;
	-fx-background-radius: 10;
	
}

.table-view .column-header .label {
	-fx-text-fill: white;
}
.TextFont{
	-fx-font-family:  "Georgia";
}
.textfield{
	-fx-background-radius: 40;
-fx-background-color :  #FFEFFF;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.3, 0.0, 0.0); 
}

.textfield :focused{
-fx-background-radius: 40;
-fx-background-color : #7F00FF;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.3, 0.0, 0.0);
}


.button{
	-fx-background-color: #7F00FF;
}

 .button:hover { 
 	-fx-background-color: #935FE2;
    
}

.button:pressed{
	-fx-background-color: #DA22FF;
}


.bouttonFondMauve{
	
	-fx-background-color: #7F00FF;
	
	-fx-font-size :12;
}

	
 .bouttonFondMauve:hover { 
 		-fx-background-color: #7F00FF;
 	-fx-text-fill :  #F4B43C;
 	-fx-font-size :12;
    
}

.bouttonFondMauve:pressed{
		-fx-background-color: #7F00FF;
	-fx-text-fill : #FFD384;
	-fx-font-size :12;
}

.TextFieldGoal{
	-fx-background-color : #F47676;
	-fx-prompt-text-fill : #FFF;
	-fx-text-fill : #FFF;
	
}

.TextFieldGoalYellow{
	-fx-background-color :  #FFB513;
	-fx-prompt-text-fill : #FFF;
	-fx-text-fill : #FFF;
	
}
	
	

